<html lang="en">
    <head>
	<title>Pink pages (Tom Brandis)</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="style.css" media="">
    </head>
    <body>
	<h1>Pink pages</h1>
	<p>Links curated by <a href="https://tombrandis.uk">Tom Brandis</a>. Inspired by yellow pages.</p>
	<div id="cards">
	  {% for category in links %}
	  <div>
	    <h2>{{category.category}}</h2>
	    {% assign sorted_links = category.links | sort_natural:"name" %}
	    {% for link in sorted_links %}
	    <h3><a href="{{link.link}}">{% if link.pre %}{{link.pre}} {% endif  %}{{link.name}}</a>{% if link.cw %}<span class="cw"> ({{link.cw}}){% endif %}</h3>
	    {% if link.desc  %}<p>{{link.desc}}</p>{% endif %}
	    {% endfor%}
	  </div>
	  {% endfor  %}
	</div>
    </body>
</html>
